@using KenoShop.WebApp.ViewModels.Inventory
@model CreateInveotrySecondaryViewModel
@{
    ViewData["Title"] = "افزودن موجودی و ویژگی های محصول";

}

<div class="container flex-grow-1 container-p-y">
    <form asp-area="Admin" asp-controller="Inventory" asp-action="CreateInventoryS" method="post">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="card mb-4">
                    <input asp-for="ProductID" type="hidden"/>
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">افزودن ویژگی محصول</h5>
                    </div>
                    <div class="card-body">
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="exampleFormControlSelect1">محصول</label>
                            <div class="col-sm-10">
                                <select class="form-select" asp-for="ProductID" asp-items="@(new SelectList(ViewBag.ListofProducts, "Value", "Text"))" aria-label="Default select example">
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="exampleFormControlSelect1">رنگ</label>
                            <div class="col-sm-10">
                                <select class="form-select" asp-for="ColorID" asp-items="@(new SelectList(ViewBag.ListofColors, "Value", "Text"))" aria-label="Default select example">
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="exampleFormControlSelect1">سایز</label>
                            <div class="col-sm-10">
                                <select class="form-select" asp-for="SizeID" asp-items="@(new SelectList(ViewBag.ListofSizes, "Value", "Text"))" aria-label="Default select example">
                                </select>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="html5-number-input" class="col-md-2 col-form-label">موجودی کالا در انبار</label>
                            <div class="col-md-10">
                                <input class="form-control text-start" dir="ltr" type="number" asp-for="InventoryAmount">
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">ذخیره</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md p-1 mb-1">

            </div>
        </div>
    </form>
</div>
<script src="/Admin/vendor/libs/formvalidation/dist/js/FormValidation.min.js"></script>
<script src="/Admin/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js"></script>
<script src="/Admin/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js"></script>
<script src="/Admin/js/tables-datatables-basic.js"></script>